# Any file or directory at HOME
/[A-Z]*
/.*

# Match exceptions
!/.zsh/
/.zsh/*
/.zsh/.*
!/.zsh/.zshrc
!/.zsh/typewritten
!/.zsh/autocomplete

!/.ssh/
/.ssh/*
!/.ssh/config

!/.config/
/.config/utils/configfiles/*
/.config/karabiner/*
!/.config/karabiner/karabiner.json
!/.config/utils/configfiles/.config-help
