[pull]
	ff = only

[init]
	defaultBranch = main

[user]
	name = tobimd
	email = tobimd@users.noreply.github.com

[gpg]
	format = ssh

[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pager]
	branch = false

[filter "nocommit"]
	# use 'git-nocommit' to ignore a line or '[ git-nocommit'
	# + ... + 'git-nocommit ]' to ignore a segment
	clean="sed -E 'N;N;s_(\\#|//) *\\[ *git-nocommit(.|\\n)+git-nocommit *\\]|(\\n|^)[^\\n]*(\\#|//) *git-nocommit[^\\n]*\\n_\\n_img;P;D'"
