[pull]
	ff = only

[init]
	defaultBranch = main

[user]
	name = tobimd
	email = tobimd@users.noreply.github.com

[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pager]
	branch = false

[filter "nocommit"]
	clean="grep -viE -e '(\\#|//|;) +git-nocommit'"

