[pull]
	ff = only

[init]
	defaultBranch = main

[user]
	name = tobimd
	email = 33004093+tobimd@users.noreply.github.com

[includeIf "gitdir:/home/tobi/Develop/socialweb/"]
	path = /home/tobi/Develop/socialweb/.gitconfig

[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pager]
	branch = false
