[submodule ".zsh/typewritten"]
	path = .zsh/typewritten
	url = https://github.com/tobimd/typewritten.git
[submodule ".zsh/autocomplete"]
	path = .zsh/autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".zsh/fzf"]
	path = .zsh/fzf
	url = https://github.com/junegunn/fzf
[submodule ".config/nerd-fonts"]
	path = .config/nerd-fonts
	url = git@github.com:tobimd/nerd-fonts.git
[submodule ".config/i3/i3lock-color"]
	path = .config/i3/i3lock-color
	url = https://github.com/Raymo111/i3lock-color.git
[submodule ".config/i3/i3lock-fancy"]
	path = .config/i3/i3lock-fancy
	url = https://github.com/meskarune/i3lock-fancy.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/tobimd/nvim.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
